.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
  border-radius: var(--radius-m);
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns p {
  color: var(--text-secondary);
}

.columns h2,
.columns h3 {
  color: var(--heading-color);
}

/* centered variant */
.columns.centered {
  text-align: center;
}

/* reverse variant */
.columns.reverse > div {
  flex-direction: column-reverse;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: row;
    gap: var(--space-xl);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.reverse > div {
    flex-direction: row-reverse;
  }
}
